<div *ngIf="!_auth.loggedIn()">
    <br>
      Musisz być zalogowany, aby przeglądać profile użytkowników!
      <a href="/login">ZALOGUJ SIĘ</a>. 
      Nie masz konta? 
      <a href="/register">ZAŁÓŻ JE TERAZ!</a>
    </div>

    <div *ngIf="_auth.loggedIn()">
<div *ngIf="user">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Nazwa użytkownika: {{user.UserName}}</h5>
          <p class="card-text">Uprawnienia: {{user.Role}}</p>
        </div>
        <div class="card-footer text-muted">
          Data utworzenia: {{user.Created_at | date:'dd.MM.yyyy'}}
        </div>
      </div>
</div>
</div>