<div class="list-group">
  <a href="/Service/{{ event.ID }}" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let event of services">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"></h5>
        <small>{{event.DateOfAddition | date:"MM/dd/yyyy 'o godz.' HH:mm"}}</small>
      </div>
      <p class="mb-1">{{event.Descryption}}</p>
      <small>Dodane przez <a href="/user/{{event.User.ID}}">{{event.User.UserName}}</a></small>
    <div *ngIf="event.User.ID == helpers.localStorageItem('UserID')">
          <a href="/add-service"><button (click)='redirectToAdd()'>Usuń</button></a>
        </div>
      </a>
        
</div>