<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Rejestracja</h3>
          </div>
          <div class="card-body">
            <form class="form">
                <div class="form-group">
                    <label for="uname1">Login</label>
                    <input id="registrationLogin" type="text" [(ngModel)]="registerUserData.login" name="login" class="form-control rounded-0" required>
                  </div>
              <div class="form-group">
                <label for="uname1">Nazwa użytkownika</label>
                <input id="registrationUserName" type="text" [(ngModel)]="registerUserData.userName" name="username" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label>Hasło</label>
                <input id="registrationPass" type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0"  required>
              </div>
              <div class="form-group">
                <label>Powtórz hasło</label>
                <input id="repeatPassword" type="password" name="repeatPass" class="form-control rounded-0" required>
              </div>
              <div class="error" id="error">
              </div>
              <button type="submit" id="enter" (click)="registerUser()" class="btn btn-primary float-right">Zarejestruj</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>


