<div *ngIf="service">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{service.Descryption}}</h5>
      </div>
      <div class="card-footer text-muted">
        Dodane: {{service.DateOfAddition | date:'dd.MM.yyyy'}} przez <a href="user/{{service.User.ID}}">{{service.User.UserName}}</a>
      </div>
      <br><br>
      Komentarze:
      <div class="col-sm-10">
        <textarea class="form-control" name="addComment" id="addComment" rows="3"></textarea>
      </div>
      <button type="button" (click)="addNewComment()" class="btn btn-success float-right">Skomentuj</button>
    </div>
</div>