<div *ngIf="service">
    <img src="http://localhost:63819/api/Images/{{service.ImageName}}" class="img img-rounded img-fluid float-left"/>
        <div class="col-md-12">
            <h1>{{service.ServiceName}}</h1>
            <p>{{service.Descryption}}</p>

        <span class="badge">Dodane: {{service.DateOfAddition | date:'dd.MM.yyyy'}} przez <a href="user/{{service.User.ID}}">{{service.User.UserName}}</a></span>
        <div>
          <span class="badge badge-info">{{service.Category.Name}}</span>
        </div>
        <div *ngIf="_auth.loggedIn()">
        <h3 class="bold padding-bottom-7">Ocena: <small>{{service.Rating.AvarageOfVotes}}/ 5</small></h3>
					<button type="button" (click)='vote(1)' class="btn btn-danger btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">1</span>
					</button>
          <button type="button" (click)='vote(2)' class="btn btn-danger btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">2</span>
          </button>
          <button type="button" (click)='vote(3)' class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">3</span>
          </button>
          <button type="button" (click)='vote(4)' class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">4</span>
          </button>
          <button type="button" (click)='vote(5)' class="btn btn-success btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true">5</span>
          </button>
          </div>
      </div>
      <br><br><br>
      <div class="mt-5 col-sm-10">
      <div *ngIf="!_auth.loggedIn()">
        Komentować i oceniać mogą tylko zalogowani użytkownicy!
      </div>
      <div *ngIf="_auth.loggedIn()">
      Komentarz:
        <form>
        <textarea class="form-control" ref-textarea name="commentData" id="addComment" rows="3"></textarea>
        <button (click)='addNewComment(textarea.value)' class="btn btn-success float-right">Skomentuj</button>
        </form>
    </div>
</div>
  <br><br>
  <div class="col-md-10">
  <div class="card">
    <div *ngFor="let comment of comments">
      <div class="card-body">
	        <div class="row">
            <div class="col-md-12">
              <span class="small text-muted float-right">{{comment.DateOfAddition | date:"dd/MM/yyyy 'o godz.' HH:mm"}}</span>
              <p>
                <a class="float-left" href="/user/{{service.User.ID}}"><strong>{{comment.User.UserName}}</strong></a>
              </p>
              <div class="clearfix"></div>
              <p>{{comment.Content}}</p>
            </div>
      </div>
    </div>
      <hr>
    </div>
  </div>
</div>
<div class="row col-md-5">
    <div aria-label="..." class="mx-auto">
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" *ngIf="currentPage!=1" (click)='getComments(currentPage-1)'>{{currentPage-1}}</button>
        </li>
        <li class="page-item active">
          <button class="page-link">{{currentPage}}</button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)='getComments(currentPage+1)'>{{currentPage+1}}</button>
        </li>
        <li class="page-item">
            <button class="page-link" (click)='getComments(currentPage+2)' *ngIf="currentPage==1">{{currentPage+2}}</button>
          </li>
      </ul>
    </div>
  </div>
</div>